body {
  font-family: Arial, Helvetica, sans-serif; }

.header {
  position: relative;
  z-index: 999; }
  .header .search {
    float: right;
    padding: 10px; }
    .header .search .input {
      padding: 3px;
      background: #fff;
      border: solid 1px #999999;
      border-radius: 6px; }
    .header .search .submit {
      vertical-align: bottom; }
  .header .addNew,
  .header .addNew:visited,
  .header .addNew:active {
    font-size: 16px;
    color: #123d54;
    padding: 2px 20px;
    background: -moz-linear-gradient(top, #afd9fa 0%, #588fad);
    background: -webkit-gradient(linear, left top, left bottom, from(#afd9fa), to(#588fad));
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #003366;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px white;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
    text-decoration: none;
    float: left;
    margin: 10px; }
    .header .addNew:hover,
    .header .addNew:visited:hover,
    .header .addNew:active:hover {
      text-decoration: underline; }

.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 999; }
  .buttons a {
    position: relative; }
    .buttons a img {
      transform-origin: center bottom 0;
      transition: transform 0.3s ease 0s;
      width: 48px; }
    .buttons a:hover {
      z-index: 200; }
      .buttons a:hover img {
        transform: scale(1.5); }

.note {
  border: solid 1px #999999;
  border-radius: 6px;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 200px;
  padding: 24px 2px 6px 2px;
  background: #eee; }
  .note .header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 24px; }
    .note .header .dragBar {
      width: 100%;
      height: 100%; }
    .note .header .remove {
      position: absolute;
      top: 0;
      right: 0; }
  .note .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 10px; }
    .note .footer img {
      float: right; }
  .note textarea {
    resize: none;
    background: #fff;
    border: 0;
    border-top: solid 1px #999999;
    width: 99%;
    height: 99%; }
